
<div class="col-md-3">
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Side Bar</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum amet facere tempora quasi consequuntur maiores dolores necessitatibus expedita quia? Quia reiciendis officiis accusamus quibusdam dolores incidunt quidem esse tenetur!</p>
        </div>
    </div>
    <a href="javascript:history.back()" class="btn btn-secondary px-4">Back</a>
</div>