.main-wrap {
    min-height: 55vh;
}

.profile-wrap {
    display: flex;
    gap: 30px;
}
.profile-card    {
    width: 100px;
    height: 100px;
}
.profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.profile-card p {
    font-size: small;
    text-align: center;
}
header {
    -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 5% 100%);
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 5% 100%);
}