{% extends "main.html" %}

{% block title %}Frontpage - TheBlog{% endblock %}

<!-- Header -->
{% block header %}
    <header class="bg-primary text-white text-center py-3">
        <h1>TheBlog</h1>
        <p class="lead">Dive into the minds of millions of Professionals...</p>
    </header>
{% endblock header %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-6">
                        <div class="card mb-4">
                            {% if post.thumbnail %}
                                <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="Thumbnail for {{ post.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.body }}</p>
                                <div class="row">
                                    <div class="col">
                                        <a href="{% url 'post_detail' post.slug %}">Read More</a>
                                    </div>
                                    <!-- <div class="col">
                                        <p><small>{{ user }}</small></p>
                                    </div> -->
                                    <div class="col">
                                        <p><small>{{ post.created_at }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
            
        {% include "sidebar.html" %}
    </div>
    
{% endblock %}
