{% extends "main.html" %}

{% block title %}Frontpage - TheBlog{% endblock %}


    <!-- Navbar -->
    {% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><strong>SchoolMate</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    {% if user.is_authenticated %}
                    <li class="nav-item ms-4">
                        <a href="{% url 'new_blog_post' %}" class="btn btn-primary px-4">New Post</a>
                    </li>
                    <li class="nav-item dropdown ms-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ user.profile.avatar.url }}" class="rounded-circle" alt="Profile" width="30" height="30">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><em>Hello <strong>{{user.username|capfirst}}</strong></em></a></li>
                            <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'teacher' %}">Teacher</a></li>
                            <li><a class="dropdown-item" href="{% url 'student' %}">Student</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item ms-4">
                        <a href="{% url 'login' %}" class="btn btn-outline-primary px-4">Login</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a href="{% url 'register' %}" class="btn btn-outline-primary px-4">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

<!-- Header -->
{% block header %}
    <header class="bg-primary text-white text-center py-3">
        <h1>TheBlog</h1>
        <p class="lead">Dive into the minds of millions of Professionals...</p>
    </header>
{% endblock header %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-6">
                        <div class="card mb-4">
                            {% if post.thumbnail %}
                                <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="Thumbnail for {{ post.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }} <small class="h6">(by <em>{{ post.author }}</em>)</small></h5>
                                <p class="card-text">{{ post.body }}</p>
                                <div class="row">
                                    <div class="col">
                                        <a href="{% url 'post_detail' post.slug %}">Read More</a>
                                    </div>
                                    <div class="col">
                                        <p><small>{{ post.created_at }}</small></p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    {% if user == post.author or perms.blogapp.delete_post %}
                                        <div class="col-4">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-outline-danger" name="post-id" value="{{ post.id }}">Delete Post</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    {% if user.is_staff %}
                                        <div class="col-4">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-outline-warning" name="user-id" value="{{ post.author.id }}">Ban User</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% empty %}

                    <p>No posts yet <em>!</em> </p>

                {% endfor %}
            </div>
        </div>
            
        {% include "sidebar.html" %}
    </div>
    
{% endblock %}
