
{% extends "main.html" %}

{% block title %}{{ post.title }} - TheBlog{% endblock %}

<!-- Header -->
{% block header %}
    <header class="bg-primary text-white text-center py-3">
        <h1>Create New Post</h1>
        <p class="lead">Here you can convert your thoughts into reality by putting them down in writing.</p>
    </header>
{% endblock header %}

{% block content %}

<div class="row py-4 "> 
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="col-md-6">
                        {{ form.slug.label_tag }}
                        {{ form.slug }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.intro.label_tag }}
                        {{ form.intro }}
                    </div>
                    <div class="col-md-6">
                        {{ form.thumbnail.label_tag }}
                        {{ form.thumbnail }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.body.label_tag }}
                        {{ form.body }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>

    <a href="{% url 'home' %}" class="btn btn-secondary px-4">Home</a>
    
{% endblock %}
