{% extends 'main.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 pt-3 rounded border">
            <h2 class="text-center mb-4">Register</h2>
            <form method="post">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div class="form-group mt-3">
                    {{ form.username }}
                </div>
                <div class="form-group mt-3">
                    {{ form.email }}
                </div>
                <div class="form-group mt-3">
                    {{ form.password1 }}
                </div>
                <div class="form-group mt-3">
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn btn-primary form-control mt-4">Register</button>
            </form>
            <p class="text-center mt-3">Have an account? Login <a href="{% url 'login' %}">Here</a></p>
        </div>
    </div>
</div>
{% endblock %}
