
{% extends "main.html" %}

{% block title %}{{ post.title }} - TheBlog{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center">Successfully Uploaded / Posted!!!</h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsam explicabo accusamus recusandae praesentium aperiam?</p>

            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <a href="{% url 'blog' %}" class="btn btn-primary px-4 my-3">Blog</a>
                    <a href="{% url 'new_blog_post' %}" class="btn btn-outline-primary px-4 my-3">New Post</a>
                    <a href="{% url 'home' %}" class="btn btn-secondary px-4 my-3">Back</a>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
