
{% extends "main.html" %}

{% block title %}{{ post.title }} - TheBlog{% endblock %}

{% block content %}

    <h1>Upload Profile</h1>
    <div class="row py-4 "> 
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success px-4">Upload</button>
            </form>
        </div>
    </div>

    <a href="{% url 'frontpage' %}" class="btn btn-secondary px-4">Home</a>
    
{% endblock %}
